.img {
    height: 96.5vh;
    width: 98.5vw;
    object-fit: cover;
    filter: blur(6px);
    position: fixed;
    z-index: -1;
}
.fp {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    color: white;
    font-size: 5vw;
    left: 16.25vw;
}