.left-section {
    height: 100vh;
    width: 62.751159vh;
    display: none;
}
.img {
    /* here */
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* width: 100vw; */
    width: 62.751159vh;
    object-fit: cover;
    filter: blur(0.4636785vw);
    z-index: -2;
}
.order {
    /* here */
    position: fixed;
    top: 5vh;
    /* right: 5vw; */
    /* right: 72vw; */
    bottom: 5vh;
    /* left: 5vw; */
    left: 3vh;
    width: 56.751159vh;
    border-radius: 3vh;
    /* background-color: #fff8f4; */
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}
.fixed {
    position: fixed;
    top: 5vh;
    width: 62.751159vh;
}
.scrollable {
    overflow-y: scroll;
    position: fixed;
    top: 41vh;
    bottom: 5vh;
    left: 1.8vw;
    width: 60.951159vh;
    padding-top: 2vh;
}
.scrollable::-webkit-scrollbar {
    display: none;
}
.dfp {
    /* here */
    position: fixed;
    /* top: 15vh; */
    top: 5vh;
    /* left: 12.5vh; */
    left: 5vh;
    display: grid;
    height: 27vh;
    width: 35vh;
}
.fp {
    font-size: 3.137vh;
    cursor: default;
    place-self: center;
}
.related-rate {
    display: flex;
    margin-left: 1.1vh;
}
.related,.rate {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 2.0607vh;
    background-color: #270003;
    color: white;
    border-radius: 1000px;
    cursor: pointer;
    padding: 0 1.8825vh;
    display: grid;
    grid-template-columns: 3.137vh 1fr;
    grid-column-gap: 2.196vh;
    grid-column-gap: 3.137vh;
    transition: background-color 0.25s, color 0.25s, transform 0.5s;
    border: solid 0.125vh #270003;
}
.related:hover,.rate:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    transform: scale(1.1);
}
.related:hover {
    .chain {
        content: url('icons/2849800_chain_link_linked_multimedia_icon.png');
    }
}
.rate:hover {
    .irate {
        content: url('icons/rate-black.png');
    }
}
.related {
    margin: 27vh 0 0 3.639vh;
}
.chain,.irate {
    height: 4vh;
    width: 4vh;
    justify-self: center;
    margin: auto;
}
.rate {
    margin: 27vh 0 0 3vh;
}
.diorder {
    /* overflow-x: scroll; */
    /* height: 100px; */
    /* width: 100px; */ 
}
.iorder {
    /* here */
    position: fixed;
    width: 18.825vh;
    height: 18.825vh;
    object-fit: contain;
    top: 10vh;
    left: 37vh;
    /* transform: rotate(180deg); */
}
.items {
    display: grid;
    grid-template-rows: 15vh;
    grid-template-columns: 15.69vh 15.69vh 15.69vh;
    grid-column-gap: 3.137vh;
    grid-row-gap: 5.02vh;
    /* margin: 43vh 0 0 5vw; */
    margin-left: 1.4vh;
}
.item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 2.51vh;
    padding: 1.255vh;
    transition: background-color 0.25s, color 0.25s, transform 0.5s;
    border: solid 0.125vh #270003;
    height: 12.3vh;
}
.pitem {
    margin: 0;
    cursor: default;
    font-size: 2.473vh;
}
.bitem {
    font-size: 2.4636vh;
    background-color: #270003;
    color: white;
    border: none;
    border-radius: 1000px;
    /* margin: 2.5vh 0 0 4.5vw; */
    cursor: pointer;
    transition: background-color 0.25s, color 0.25s;
    position: absolute;
    top: 13.5vh;
    left: 3.702vh;
    padding: 0.502vh 0.879vh;
}
.sitem {
    font-size: 1.569vh;
    cursor: default;
}
.item:hover {
    background-color: #270003;
    color: white;
    transform: scale(1.1);
    .bitem {
        background-color: rgb(255, 255, 255);
        color: black;
    }
}
.left-hr {
    position: fixed;
    left: 9.41267vh;
    width: 43.925819vh;
    border: none;
    height: 0.2vh;
    background-color: #270003;
    margin: 2vh 0 0 0;
    border-radius: 1000px;
}
.sp {
    font-size: 2.473vh;
    margin: 8vh 0 0 4vh;
}
.properties {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 10vh; */
    grid-row-gap: 3.137vh;
    margin: 3.137vh 6.2vh 3.137vh 1.4vh;
}
.property {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3.137vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 0.125vh #270003;
}
.i {
    place-self: center;
    font-size: 2.473vh;
}
.desiner {
    margin: 0 0 2vh 3vh;
    font-size: 0.94vh;
    font-weight: 600;
    font-family: Arial;
}