html {
    height: 100vh;
    width: 100vw;
}
body {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
    user-select: none;
    background-color: #E3D6CE;
    margin: 0;
    position: fixed;
}
body::-webkit-scrollbar {
    display: none;
}
.right-section {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.right-section-leftSectionOpened {
    left: 62.751159vh;
}
.phones {
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-column-gap: 2vw;
    grid-row-gap: 5vh;
    padding: 6vh 2vh 10vh 2vh;
    overflow-y: scroll;
    /* height: 79vh; */
    height: 85vh;
    justify-content: space-around;
    width: 95%;
    margin-top: 1vh;
}
.phones::-webkit-scrollbar {
    display: none;
}
.ephones {
    height: 10vh;
}
.phone {
    position: relative;
    /* border-radius: 3vw; */
    /* border-radius: 36.1895px; */
    border-radius: 6vh;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 5vh 23vw 5vw 1fr; */
    grid-template-rows: 7% 50% 5% 1fr;
    cursor: pointer;
    color: white;
    border: solid 1vh black;
    transition: transform 0.25s, background-color 0.25s, color 0.25s;
    height: 80vh;
}
.iphone {
    place-self: center;
    /* margin: auto; */
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.notification-bar-full {
    display: grid;
    grid-template-columns: 40% 1fr 31%;
}
.notification-bar {
    display: flex;
    height: 40px;
    width: 100%;
}
.order-name {
    place-self: center;
}
.right-hr {
    background-color: red;
    display: none;
    position: absolute;
    bottom: 2%;
    left: 33%;
    right: 33%;
    background-color: white;
    transition: background-color 0.25s;
    border: none;
    height: 0.2%;
}
.time {
    margin-left: 2vw;
    place-self: center;
    display: inline-block;
    margin: 0;
}
.enotification-bar {
    width: 100%;
}
.battery-percentage {
    place-self: center;
}
.ibattery {
    height: 60%;
    transform: rotate(270deg);
    place-self: center;
}
.wifi {
    height: 60%;
    place-self: center;
}
.phone:hover {
    background-color: rgb(205, 205, 205);
    color: black;
    transform: scale(1.05);
    hr {
        background-color: black;
    }
    .ibattery {
        content: url('icons/battery/battery-black.svg');
    }
    .wifi {
        content: url('icons/wifi/wifi-black.svg');
    }
}
.time-off {
    position: absolute;
    top: 15%;
    left: 27%;
    font-size: 5vh;
    display: none;
}
.date {
    display: none;
}
.tf-off {
    display: block;
}
.i-off {
    display: none;
}
.dupper-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}
.menu-item {
    padding: 4vh;
    cursor: pointer;
    border-radius: 0.5vw;
    display: flex;
}
.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.menu-item:active {
    border-bottom: solid 0.2vw black;
}
.imenu-item {
    height: 3.2vh;
    width: 3.2vh;
    object-fit: contain;
    /* place-self: center; */
    margin-right: 1vw;
}
.pmenu-item {
    margin: 0;
}
.plogo {
    padding: 2vw;
    display: inline-block;
    margin: 0;
}
.menu-opened {
    border-bottom: solid 0.2vw black;
}
.pmenu-item-onlyicon {
    display: none;
}
.menu-item-onlyicon {
    padding: 2vh;
}