img:hover {
    transform: rotateY('100deg');
}
img {
    height: 300px;
    width: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.out {
    height: 200px;
    width: 200px;
    background-color: aqua;
}
.in {
    height: 99%;
    width: 99%;
    background-color: rgba(255, 0, 0, 0.2);
}